@import '../../sass/index'

.Header
  background-color: $saddlebrown-d5
  display: flex
  justify-content: center
  align-items: center
  padding: 8px 0 12px

  .titleAndSubtitle
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    h1
      color: $gold
      font-family: 'Noto Serif', serif
      font-size: 48px

    h2
      color: $gold
      font-family: 'Noto Serif', serif
      font-size: 28px
